<footer class="mt-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="footer-part text-center">
            <h5>Exclusive Subscribe</h5>
            <p>Get 10% off on your first order</p>
            <div class="email-input position-relative">
              <input type="email" placeholder="Enter Your Email">
              <!-- <i class="fa-solid fa-paper-plane"></i> -->
              <fa-icon class="plane" [icon]="faPaperPlane"></fa-icon>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="footer-part text-center">
            <h5>Quick Link</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-decoration-none">Privacy & Policy</a></li>
              <li><a href="#" class="text-decoration-none">Terms Of Use</a></li>
              <li><a href="#" class="text-decoration-none">FAQ</a></li>
              <li><a href="#" class="text-decoration-none">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="footer-part text-center">
            <h5>Account</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-decoration-none">My Account</a></li>
              <li><a href="#" class="text-decoration-none">Register</a></li>
              <li><a href="#" class="text-decoration-none">Cart </a></li>
              <li><a href="#" class="text-decoration-none">Shop</a></li>
            </ul>
            
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="footer-part text-center">
            <h5>Support</h5>
            <p>Egypt , 125 Building 2B  SHR street</p>
            <p>exclusive476{{at}}gmail.com</p>
            <p>+123-456-789000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-0">
      <div class="row text-center copy-right">
        <span class="my-2 fs-6">{{at}}CosyanspanRight Reserved, Made By Renad Ibrahim </span>
      </div>
    </div>
  </footer>