<section id="featured" class="my-5 py-5">
    <div class="container">
      <div class="row">
        <div class="title ">
            <p>Featured</p>
            <h1>New Arrival</h1>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
          <div class="featured-card h-100">
            <img src="assets/Images/product.jpg" alt="...." class="w-100 h-100 position-relative" />
            <div class="featured-layer position-absolute"></div>
            <div class="featured-body position-absolute">
              <h5 class="m-0">PlayStation 5</h5>
              <span>Black and White version of the PS5 coming out on sale.</span>
              <h5 class="text-decoration m-0">Shop Now</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
          <div class="featured-card card-height">
            <img src="assets/Images/clothes.jpg" alt="...." class="w-100" />
            <div class="featured-layer position-absolute"></div>
            <div class="featured-body position-absolute">
              <h5 class="m-0">Women’s Collections</h5>
              <span>Featured woman collections that give you another vibe.</span>
              <h5 class="text-decoration">Shop Now</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
              <div class="featured-card card-height">
                <img src="assets/Images/laptop.jpg" alt="...." class="w-100" />
                <div class="featured-layer position-absolute"></div>
            <div class="featured-body position-absolute">
              <h5 class="m-0">Laptop</h5>
              <span>ASUS gaming  laptop</span>
              <h5 class="text-decoration">Shop Now</h5>
            </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
              <div class="featured-card card-height">
                <img src="assets/Images/perfum.jpg" alt="...." class="w-100" />
                <div class="featured-layer position-absolute"></div>
            <div class="featured-body position-absolute">
              <h5 class="m-0">Perfume</h5>
              <span>GUCCI INTENSE OUD EDP</span>
              <h5 class="text-decoration">Shop Now</h5>
            </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>