<section id="advantages" class="my-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-5 adv">
                <div class="icon-adv">
                    <span>
                        <!-- <i class="fa-solid fa-truck"></i> -->
                        <fa-icon class="icon" [icon]="faTruck"></fa-icon>
                    </span>
                </div>
                <div class="dsec-adv">
                    <p class="m-0">Free Delivery</p>
                    <span>Free Shipping on all order</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 adv">
                <div class="icon-adv">
                    <span>
                        <!-- <i class="fa-solid fa-headset"></i> -->
                        <fa-icon class="icon" [icon]="faHeadset"></fa-icon>
                    </span>
                </div>
                <div class="dsec-adv">
                    <p class="m-0">Online Support</p>
                    <span>Support online 24/7 a day</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 adv">
                <div class="icon-adv">
                    <span>
                        <!-- <i class="fa-solid fa-money-bill-1"></i> -->
                        <fa-icon class="icon" [icon]="faMoneyBill"></fa-icon>
                    </span>
                </div>
                <div class="dsec-adv">
                    <p class="m-0">Money Return</p>
                    <span>Back guarantor  under 7 days</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 adv">
                <div class="icon-adv">
                    <span>
                        <!-- <i class="fa-solid fa-wallet"></i> -->
                        <fa-icon class="icon" [icon]="faWallet"></fa-icon>
                    </span>
                </div>
                <div class="dsec-adv">
                    <p class="m-0">Special Offers</p>
                    <span>On every order over 1000L.E</span>
                </div>
            </div>
        </div>
    </div>
</section>