/* ***********Advantages ***************** */
.adv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
  .icon-adv{
    background-color: #f8ae2484;
    border-radius: 50px;
    margin-right: 10px;
  }
  .icon-adv .icon{
    padding: 15px;
    line-height: 3;
  }
  .dsec-adv p{
   font-size: 18px;
   font-weight: 600
  }
  .dsec-adv span{
   color: #b5b5b5;
   font-size: 12px;
  }