<div class="slider">
    <button id="prev" class="slider-btn" (click)="handleScrollPrev()">
      <!-- <i class="fa-solid fa-chevron-left"></i> -->
    <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <div class="card-content" #cards>
      <!--**************** Product Card ************************-->
      <div class="slider-card card">
        <div class="position-relative">
          <img src="assets/Images/product.jpg" class="card-img-top" alt="...">
          <button class="add-to-cart-btn">Add To Cart</button>
          <div class="fav-watch">
            <p class="fav">
              <!-- <i class="fa-regular fa-heart"></i> -->
              <fa-icon [icon]="faHeart"></fa-icon>
            </p>
            <p class="watch">
              <!-- <i class="fa-regular fa-eye"></i> -->
              <fa-icon [icon]="faCartShopping"></fa-icon>
            </p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="sale-percentage">-1%</h5>
          <h4 class="card-title">Gucci duffle bag</h4>
          <p class="card-text">
            <h6 class="new-price d-inline-block">13,000 L.E</h6>
            <h6 class="old-price d-inline-block ms-3 text-decoration-line-through">19,000 L.E</h6>
          <p class="rate m-0">
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStarHalfStroke"></fa-icon>
            <span>(70)</span>
          </p>
          
        </div>
      </div>
      <!--**************** Product Card ************************-->
      <div class="slider-card card">
        <div class="position-relative">
          <img src="assets/Images/product.jpg" class="card-img-top" alt="...">
          <button class="add-to-cart-btn">Add To Cart</button>
          <div class="fav-watch">
            <p class="fav">
              <!-- <i class="fa-regular fa-heart"></i> -->
              <fa-icon [icon]="faHeart"></fa-icon>
            </p>
            <p class="watch">
              <!-- <i class="fa-regular fa-eye"></i> -->
              <fa-icon [icon]="faCartShopping"></fa-icon>
            </p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="sale-percentage">-15%</h5>
          <h4 class="card-title">Gucci duffle bag</h4>
          <p class="card-text">
            <h6 class="new-price d-inline-block">13,000 L.E</h6>
            <h6 class="old-price d-inline-block ms-3 text-decoration-line-through">19,000 L.E</h6>
          <p class="rate m-0">
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStarHalfStroke"></fa-icon>
            <span>(70)</span>
          </p>
          
        </div>
      </div>
      <!--**************** Product Card ************************-->
      <div class="slider-card card">
        <div class="position-relative">
          <img src="assets/Images/product.jpg" class="card-img-top" alt="...">
          <button class="add-to-cart-btn">Add To Cart</button>
          <div class="fav-watch">
            <p class="fav">
              <!-- <i class="fa-regular fa-heart"></i> -->
              <fa-icon [icon]="faHeart"></fa-icon>
            </p>
            <p class="watch">
              <!-- <i class="fa-regular fa-eye"></i> -->
              <fa-icon [icon]="faCartShopping"></fa-icon>
            </p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="sale-percentage">-24%</h5>
          <h4 class="card-title">Gucci duffle bag</h4>
          <p class="card-text">
            <h6 class="new-price d-inline-block">13,000 L.E</h6>
            <h6 class="old-price d-inline-block ms-3 text-decoration-line-through">19,000 L.E</h6>
          <p class="rate m-0">
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStarHalfStroke"></fa-icon>
            <span>(70)</span>
          </p>
          
        </div>
      </div>
      <!--**************** Product Card ************************-->
      <div class="slider-card card">
        <div class="position-relative">
          <img src="assets/Images/product.jpg" class="card-img-top" alt="...">
          <button class="add-to-cart-btn">Add To Cart</button>
          <div class="fav-watch">
            <p class="fav">
              <!-- <i class="fa-regular fa-heart"></i> -->
              <fa-icon [icon]="faHeart"></fa-icon>
            </p>
            <p class="watch">
              <!-- <i class="fa-regular fa-eye"></i> -->
              <fa-icon [icon]="faCartShopping"></fa-icon>
            </p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="sale-percentage">-30%</h5>
          <h4 class="card-title">Gucci duffle bag</h4>
          <p class="card-text">
            <h6 class="new-price d-inline-block">13,000 L.E</h6>
            <h6 class="old-price d-inline-block ms-3 text-decoration-line-through">19,000 L.E</h6>
          <p class="rate m-0">
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStarHalfStroke"></fa-icon>
            <span>(70)</span>
          </p>
          
        </div>
      </div>
      <!--**************** Product Card ************************-->
      <div class="slider-card card">
        <div class="position-relative">
          <img src="assets/Images/product.jpg" class="card-img-top" alt="...">
          <button class="add-to-cart-btn">Add To Cart</button>
          <div class="fav-watch">
            <p class="fav">
              <!-- <i class="fa-regular fa-heart"></i> -->
              <fa-icon [icon]="faHeart"></fa-icon>
            </p>
            <p class="watch">
              <!-- <i class="fa-regular fa-eye"></i> -->
              <fa-icon [icon]="faCartShopping"></fa-icon>
            </p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="sale-percentage">-50%</h5>
          <h4 class="card-title">Gucci duffle bag</h4>
          <p class="card-text">
            <h6 class="new-price d-inline-block">13,000 L.E</h6>
            <h6 class="old-price d-inline-block ms-3 text-decoration-line-through">19,000 L.E</h6>
          <p class="rate m-0">
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStar"></fa-icon>
            <fa-icon class="star" [icon]="faStarHalfStroke"></fa-icon>
            <span>(70)</span>
          </p>
          
        </div>
      </div>
    </div>
     <button id="next" class="slider-btn" (click)="handleScrollNext()">
      <!-- <i class="fa-solid fa-chevron-right"></i> -->
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </div>