<section id="flashSale" class="my-5 py-5">
    <div class="container">
        <div class="row my-3">
            <div class="title col-lg-5 col-md-5 col-sm-12">
                <p>Today's</p>
            <h1>Flash Sale</h1>
            </div>
            <div class="flash-counter row col-lg-7 col-md-7 col-sm-12">
                <p class="col">Days <br><span id="days">-{{days}}D</span></p>
                <span class="col dots">:</span>
                <p class="col">Hours <br><span id="hours">{{hours}}H</span></p>
                <span class="col dots">:</span>
                <p class="col">Minutes <br><span id="minutes">{{minutes}}M</span></p>
                <span class="col dots">:</span>
                <p class="col">Seconds <br><span id="seconds">{{seconds}}S</span></p>
            </div>
        </div>
        <div class="row mt-5">
          <app-products-slider></app-products-slider>
        </div>
    </div>
</section>